
@import url('https://fonts.googleapis.com/css?family=Kalam');

.kbs-signature{
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 20vw;
}

.kbs-signature img{
  width: 40vw;
}

@media only screen and (max-width: 480px){
  .kbs-signature{
    top: 20vh;
    left: 0vw;
  }

  .kbs-signature img{
    width: 65vw;
  }
}

/*@media only screen and (max-height: 640px){
  .kbs-signature{
    top: 20vh;
    left: 0vw;
  }

  .kbs-signature img{
    width: 40vh;
  }
} */

.kbs-sketch{
  float: right;
  display: inline-block;
  position: absolute;
  left: 60vw;
  top: 5vh;
}

.kbs-sketch img{
  height: 70vh;
}



@media only screen and (max-height: 640px){
  .kbs-sketch{
    left: auto;
    right: 10vw;
    top: 5vh;
  }

  .kbs-sketch img{
    height: 50vh;
  }
}

@media only screen and (max-width: 480px){
  .kbs-sketch{
    left: auto;
    right: 0vw;
    top: 5vh;
  }

  .kbs-sketch img{
    height: 50vh;
  }
}

.nav-menu{
  position: fixed;
  bottom: 5vh;
  left: 60vw;
  font-family: 'Kalam', cursive;
}

.nav-menu ul{
  list-style-type: none;
}

.nav-menu a{
  text-decoration: none;
  color: black;
  display: block;
  font-size: 18px;
}

@media only screen and (max-height: 640px){
  .nav-menu{
    position: fixed;
    bottom: 5vh;
    left: auto;
    right: 10vw;
    font-family: 'Kalam', cursive;
  }

  .nav-menu a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 18px;
  }
}

.kbs-content{
  position: absolute;
  display: inline-block;
  top: 35vh;
  left: 20vw;
  width: 40vw;
  font-family: 'Kalam', cursive;
}

@media only screen and (max-height: 640px){
  .kbs-content{
    top: 35vh;
    left: 5vw;
    width: 70vw;
  }
}
@media only screen and (max-width: 480px){
  .kbs-content{
    top: 35vh;
    left: 5vw;
    width: 60vw;
  }
}

.kbs-projects ul{
  margin: 0 auto;
  text-align: center;
}

.kbs-projects li{
  display: block;
  vertical-align: top;
  color: black;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  overflow: hidden;
}

.kbs-projects ul a{
  text-decoration: none;
}

.kbs-project-component img{
  height: 100px;
  object-fit: contain;
  float: left;
}

.kbs-project-component h3{
  margin: 0px;
}

.kbs-project-component p{
  margin: 0px;
}
@media only screen and (max-height: 640px){
  .kbs-project-component img{
    height: 100px;
    float: left;
  }
}
@media only screen and (max-width: 480px){
  .kbs-project-component img{
    display: none;
    float: left;
  }
}


.kbs-blog-posts ul{
  margin: 0 auto;
  text-align: center;
}

.kbs-blog-posts li{
  display: block;
  vertical-align: top;
  color: black;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  overflow: hidden;
}

.kbs-blog-posts ul a{
  text-decoration: none;
}

.kbs-blog-post-component img{
  height: 100px;
  object-fit: contain;
  float: left;
}

.kbs-blog-post-component h3{
  margin: 0px;
}

.kbs-blog-post-component p{
  margin: 0px;
}
@media only screen and (max-height: 640px){
  .kbs-blog-post-component img{
    height: 100px;
    float: left;
  }
}
@media only screen and (max-width: 480px){
  .kbs-blog-post-component img{
    display: none;
    float: left;
  }
}

.kbs-project-content img{
  width: 20vw;
  float: left;
}

.kbs-project-content p{
  display: inline-block;
}

.kbs-blog-post-content img{
  width: 20vw;
  float: left;
}
.kbs-blog-post-content p{
  display: inline-block;
}
