<div class="kbs-blog-posts">  
  <ul>
    {{#each model as |blog-post|}}
    {{#link-to 'blog-post' blog-post.slug}}
        <li> {{kbs-blog-post post=blog-post}} </li>
    {{/link-to}}
    {{/each}}
  </ul>
</div>
